<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headIdle0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headIdle1_1.png</string>
            <key>size</key>
            <string>{2046,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d2e718b8d987d90fb0aa1751da461aa:b46f4e39ca770f74689b3329f5bdb6b9:70bdabc04c7c4ffb6fc18de02b3f3c99$</string>
            <key>textureFileName</key>
            <string>headIdle1_1.png</string>
        </dict>
    </dict>
</plist>
