<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headIdle0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headIdle0249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headIdle0250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headIdle2_1.png</string>
            <key>size</key>
            <string>{2046,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fdc0f6c01884329f4cd928bebe71763:2cd66e2d094af6baca952f1ad2490820:0694f96d148b16fed8be8e61aa4095bc$</string>
            <key>textureFileName</key>
            <string>headIdle2_1.png</string>
        </dict>
    </dict>
</plist>
