<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_attackTower0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_attackTower0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{103,1},{180,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_attackTower0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{180,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{205,1},{180,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_attackTower0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{303,1},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_attackTower0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{437,1},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_attackTower0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{571,1},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_attackTower0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{571,1},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_attackTower.png</string>
            <key>size</key>
            <string>{704,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2316029585d2d498bc7e11d4f050d1d:aa1fc127329fcb1748b287945341f308:c24dae1e8db40e288e52dd8b12b4286f$</string>
            <key>textureFileName</key>
            <string>_attackTower.png</string>
        </dict>
    </dict>
</plist>
