<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_shieldTower0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{226,105}</string>
                <key>spriteSourceSize</key>
                <string>{240,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_shieldTower0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{226,105}</string>
                <key>spriteSourceSize</key>
                <string>{240,105}</string>
                <key>textureRect</key>
                <string>{{229,1},{226,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_shieldTower0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{226,105}</string>
                <key>spriteSourceSize</key>
                <string>{240,105}</string>
                <key>textureRect</key>
                <string>{{457,1},{226,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_shieldTower.png</string>
            <key>size</key>
            <string>{684,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93bc936db685d1529b81128c122b519f:0ee9bec311b49f2b819d0475f21b6e33:37832e5989da066f8b49cd194903b670$</string>
            <key>textureFileName</key>
            <string>_shieldTower.png</string>
        </dict>
    </dict>
</plist>
