<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_shieldTower0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,89}</string>
                <key>spriteSourceSize</key>
                <string>{240,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_shieldTower0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{220,89}</string>
                <key>spriteSourceSize</key>
                <string>{240,89}</string>
                <key>textureRect</key>
                <string>{{1,206},{220,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_shieldTower0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{174,77}</string>
                <key>spriteSourceSize</key>
                <string>{240,89}</string>
                <key>textureRect</key>
                <string>{{1,297},{174,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_shieldTower0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,112}</string>
                <key>spriteSourceSize</key>
                <string>{277,112}</string>
                <key>textureRect</key>
                <string>{{1,376},{277,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_shieldTower0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,112}</string>
                <key>spriteSourceSize</key>
                <string>{277,112}</string>
                <key>textureRect</key>
                <string>{{115,376},{277,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_shieldTower0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{237,112}</string>
                <key>spriteSourceSize</key>
                <string>{277,112}</string>
                <key>textureRect</key>
                <string>{{1,92},{237,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_shieldTower.png</string>
            <key>size</key>
            <string>{242,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d172727afadc456fe001225bf1595637:c84534fbd119c6ea1e2f285deafeba88:f8fb9c19486a7cd45f23f5cd070c2bef$</string>
            <key>textureFileName</key>
            <string>_shieldTower.png</string>
        </dict>
    </dict>
</plist>
