<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoreBottomLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{736,315}</string>
                <key>spriteSize</key>
                <string>{448,450}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoreBottomLeftBuildings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{567,147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,451},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreBottomLeftShaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{567,147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{789,451},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreBottomRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-736,315}</string>
                <key>spriteSize</key>
                <string>{448,450}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{453,1},{448,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoreBottomRightBuildings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1239},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreBottomRightShaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{789,1239},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{736,-316}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{905,1},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopLeftBuildings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{567,-147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,2027},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopLeftShaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{567,-147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{789,2027},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-736,-316}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1355,1},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopRightBuildings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,-147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,2815},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoreTopRightShaded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-567,-147}</string>
                <key>spriteSize</key>
                <string>{786,786}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{789,2815},{786,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>core.png</string>
            <key>size</key>
            <string>{1804,3602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8424837ba6ccdac59d8e4c226d93b0c3:a8b689792d6429dbf289a726f712f19d:faa77a802a9eea76370e25974140ec4e$</string>
            <key>textureFileName</key>
            <string>core.png</string>
        </dict>
    </dict>
</plist>
