<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>essence01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{182,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{363,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{544,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{725,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{906,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{1087,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>essence08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{1268,1},{179,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>essence.png</string>
            <key>size</key>
            <string>{1448,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e81a19cdb3507f9244f08182ab6d4b1:a71b5dc6487f6c8dadaf8285ceea3a3d:a5f7c8c4811bd39cc043a9d102d38f08$</string>
            <key>textureFileName</key>
            <string>essence.png</string>
        </dict>
    </dict>
</plist>
