<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ring_bottom_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,237}</string>
                <key>spriteSourceSize</key>
                <string>{254,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1025,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1281,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1537,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1793,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,240},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1025,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1281,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1537,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1793,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,480},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1025,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1281,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1537,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1793,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,720},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{250,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{499,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{748,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{997,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1246,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1495,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1744,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,967},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{250,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{499,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{748,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{997,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1246,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1495,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1744,968},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,1214},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{250,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{499,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{748,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{997,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1246,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1495,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1744,1215},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,1461},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{250,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{499,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{748,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{997,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1246,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1495,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1744,1462},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,1708},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{250,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{499,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{748,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{997,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1246,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1495,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1744,1709},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ring2.png</string>
            <key>size</key>
            <string>{2048,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2e9206f47893a7eb1bdca8a9493db9:e7410007dd0136cd7714d7d0839946e9:91f6f309248d399cb2a9079e8d31dda9$</string>
            <key>textureFileName</key>
            <string>Ring2.png</string>
        </dict>
    </dict>
</plist>
