<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ring_bottom_left_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,721},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,961},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,721},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1025,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,1201},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,961},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{513,721},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{769,481},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1025,241},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1281,1},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{1,1441},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_bottom_left_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,238}</string>
                <key>spriteSourceSize</key>
                <string>{254,238}</string>
                <key>textureRect</key>
                <string>{{257,1201},{254,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{513,961},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1,1681},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{769,721},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1025,481},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1281,241},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1537,1},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{1786,1},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{257,1441},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_left_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,245}</string>
                <key>textureRect</key>
                <string>{{513,1208},{247,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{762,968},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{762,1213},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1018,728},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1011,973},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1011,1218},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1274,488},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1530,248},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1779,248},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{250,1688},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1267,733},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1260,978},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1260,1223},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1523,493},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1772,493},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1516,738},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1765,738},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1509,983},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1758,983},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1509,1228},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1758,1228},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{506,1455},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{755,1458},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1004,1463},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{1253,1468},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{1502,1473},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{1751,1473},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{499,1700},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,242}</string>
                <key>spriteSourceSize</key>
                <string>{247,242}</string>
                <key>textureRect</key>
                <string>{{748,1703},{247,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{997,1708},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1246,1712},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1495,1717},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring_top_right_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1744,1717},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ring3.png</string>
            <key>size</key>
            <string>{2034,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2e9206f47893a7eb1bdca8a9493db9:e7410007dd0136cd7714d7d0839946e9:91f6f309248d399cb2a9079e8d31dda9$</string>
            <key>textureFileName</key>
            <string>Ring3.png</string>
        </dict>
    </dict>
</plist>
