<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>core_UI_botLeft_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{960,964}</string>
                <key>spriteSourceSize</key>
                <string>{964,964}</string>
                <key>textureRect</key>
                <string>{{1,867},{960,964}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>core_UI_botRight_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,50}</string>
                <key>spriteSize</key>
                <string>{872,864}</string>
                <key>spriteSourceSize</key>
                <string>{964,964}</string>
                <key>textureRect</key>
                <string>{{1,1},{872,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_fullHealth_botLeft_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{960,964}</string>
                <key>spriteSourceSize</key>
                <string>{964,964}</string>
                <key>textureRect</key>
                <string>{{967,867},{960,964}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>core_fullHealth_botRight_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,50}</string>
                <key>spriteSize</key>
                <string>{872,864}</string>
                <key>spriteSourceSize</key>
                <string>{964,964}</string>
                <key>textureRect</key>
                <string>{{875,1},{872,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Core1.png</string>
            <key>size</key>
            <string>{1932,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b20a3742ced229bc7f7f033df86f68:6f60b8a7120f24e6a9e855aba36addbd:820c48959a9f3373f7b819b153d80079$</string>
            <key>textureFileName</key>
            <string>Core1.png</string>
        </dict>
    </dict>
</plist>
