<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackBtnDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{274,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackBtnUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{274,248}</string>
                <key>textureRect</key>
                <string>{{277,1},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shieldBtnDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{274,248}</string>
                <key>textureRect</key>
                <string>{{553,1},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shieldBtnUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,248}</string>
                <key>spriteSourceSize</key>
                <string>{274,248}</string>
                <key>textureRect</key>
                <string>{{829,1},{274,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menuBtns.png</string>
            <key>size</key>
            <string>{1104,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007f14d1e50e1aa9c259e3d9e078467e:47fa81da81e25a22cf9c56fe5a42f8db:86f92b2593fc4db19577e1d1b57c7a0d$</string>
            <key>textureFileName</key>
            <string>menuBtns.png</string>
        </dict>
    </dict>
</plist>
