<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-15}</string>
                <key>spriteSize</key>
                <string>{670,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1471},{670,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{680,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1633,723},{680,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{696,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,633},{696,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{712,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,211},{712,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{704,210}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,421},{704,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{694,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{699,827},{694,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{690,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{697,1033},{690,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,14}</string>
                <key>spriteSize</key>
                <string>{680,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1265},{680,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{686,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{693,1237},{686,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{690,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1061},{690,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{694,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,855},{694,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{704,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{707,617},{704,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{712,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{715,409},{712,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{720,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,207},{720,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{720,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1667,1},{720,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{720,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{720,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{700,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1445,1},{700,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{686,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1413,703},{686,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-16}</string>
                <key>spriteSize</key>
                <string>{676,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{673,1471},{676,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-19}</string>
                <key>spriteSize</key>
                <string>{668,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{673,1685},{668,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim012.png</string>
            <key>size</key>
            <string>{1866,1892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e58fbb790591cefe7c3f5e25080ed0:f40723cae1d31533b8aac7eeba8c8afc:314ed658b345c87b4ac6fcb8557c596c$</string>
            <key>textureFileName</key>
            <string>swim012.png</string>
        </dict>
    </dict>
</plist>
