<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-14}</string>
                <key>spriteSize</key>
                <string>{668,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1445,709},{668,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{680,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1659,699},{680,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{712,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,217},{712,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{716,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{716,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{207,437},{720,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{720,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,437},{720,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{720,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1245,437},{720,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{718,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1359},{718,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{716,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{411,437},{716,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{706,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1445,1},{706,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{702,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1035,437},{702,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,2}</string>
                <key>spriteSize</key>
                <string>{696,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1653,1},{696,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{718,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1561},{718,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{720,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1159},{720,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{720,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{617,437},{720,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0255.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{716,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{719,1},{716,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{702,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{815,437},{702,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{698,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{719,215},{698,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-14}</string>
                <key>spriteSize</key>
                <string>{676,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,1159},{676,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-16}</string>
                <key>spriteSize</key>
                <string>{672,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{721,1377},{672,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-17}</string>
                <key>spriteSize</key>
                <string>{664,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{721,1591},{664,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim021.png</string>
            <key>size</key>
            <string>{1878,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf34e7367fea091b5b9f686a5035c02:c9025a2020f4c593843bbe1c19d2b700:9d8c045debf2ba7426825fda55e09579$</string>
            <key>textureFileName</key>
            <string>swim021.png</string>
        </dict>
    </dict>
</plist>
