<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-13}</string>
                <key>spriteSize</key>
                <string>{668,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1425,1},{668,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-13}</string>
                <key>spriteSize</key>
                <string>{672,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1369,1221},{672,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{684,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1245},{684,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{706,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,603},{706,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,3}</string>
                <key>spriteSize</key>
                <string>{698,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{719,205},{698,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{694,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{713,411},{694,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{688,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1465},{688,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{678,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{691,1465},{678,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,23}</string>
                <key>spriteSize</key>
                <string>{666,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1379,1027},{666,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{668,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1845,1},{668,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0341.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{688,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{709,615},{688,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0344.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{702,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{721,1},{702,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0346.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{710,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,399},{710,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0348.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{716,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,199},{716,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{718,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{718,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0359.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{694,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,809},{694,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{688,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1027},{688,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-12}</string>
                <key>spriteSize</key>
                <string>{680,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{697,817},{680,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{676,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{691,1035},{676,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0364.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-13}</string>
                <key>spriteSize</key>
                <string>{672,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1371,1437},{672,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0365.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-14}</string>
                <key>spriteSize</key>
                <string>{668,210}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{687,1253},{668,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0366.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-15}</string>
                <key>spriteSize</key>
                <string>{666,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1379,817},{666,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0367.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-16}</string>
                <key>spriteSize</key>
                <string>{664,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1639,1},{664,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim031.png</string>
            <key>size</key>
            <string>{2046,1666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0278e45cbe1a73228dc9380aedf623:b9c37d8fad8b1b31476b5a74612b619e:7406bc2d353991e447028e6c624b5dfa$</string>
            <key>textureFileName</key>
            <string>swim031.png</string>
        </dict>
    </dict>
</plist>
