<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-14}</string>
                <key>spriteSize</key>
                <string>{670,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1375,1395},{670,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-13}</string>
                <key>spriteSize</key>
                <string>{684,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{689,1233},{684,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{688,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1667,701},{688,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{698,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1667,1},{698,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{702,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1445,1},{702,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-9}</string>
                <key>spriteSize</key>
                <string>{706,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,839},{706,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{718,212}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,417},{718,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{720,210}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{720,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,209},{720,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{710,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,631},{710,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{688,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{709,1031},{688,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,9}</string>
                <key>spriteSize</key>
                <string>{682,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1261},{682,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,24}</string>
                <key>spriteSize</key>
                <string>{668,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1661},{668,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,23}</string>
                <key>spriteSize</key>
                <string>{670,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1461},{670,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{678,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1369,1611},{678,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,9}</string>
                <key>spriteSize</key>
                <string>{682,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{685,1453},{682,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,7}</string>
                <key>spriteSize</key>
                <string>{686,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1059},{686,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{710,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{713,823},{710,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{714,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{721,617},{714,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{720,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,415},{720,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,213},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0253.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{720,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,1},{720,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0261.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-12}</string>
                <key>spriteSize</key>
                <string>{688,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1437,705},{688,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-17}</string>
                <key>spriteSize</key>
                <string>{668,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{673,1651},{668,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim020.png</string>
            <key>size</key>
            <string>{2048,1858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf34e7367fea091b5b9f686a5035c02:c9025a2020f4c593843bbe1c19d2b700:9d8c045debf2ba7426825fda55e09579$</string>
            <key>textureFileName</key>
            <string>swim020.png</string>
        </dict>
    </dict>
</plist>
