<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-12}</string>
                <key>spriteSize</key>
                <string>{676,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1031},{676,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-12}</string>
                <key>spriteSize</key>
                <string>{680,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,813},{680,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-10}</string>
                <key>spriteSize</key>
                <string>{688,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1429,1},{688,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{694,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{701,411},{694,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{710,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{717,1},{710,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{702,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{709,205},{702,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,9}</string>
                <key>spriteSize</key>
                <string>{684,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1649,1},{684,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,13}</string>
                <key>spriteSize</key>
                <string>{674,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1363,895},{674,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{670,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1355,1089},{670,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,20}</string>
                <key>spriteSize</key>
                <string>{668,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1249},{668,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,16}</string>
                <key>spriteSize</key>
                <string>{670,190}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{679,1235},{670,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{674,190}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{679,1043},{674,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,10}</string>
                <key>spriteSize</key>
                <string>{678,192}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{683,849},{678,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,8}</string>
                <key>spriteSize</key>
                <string>{684,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1849,1},{684,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{692,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,609},{692,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{698,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,405},{698,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{706,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,201},{706,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0347.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{714,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{714,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0361.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{684,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{695,629},{684,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0368.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-16}</string>
                <key>spriteSize</key>
                <string>{660,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1381,691},{660,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim032.png</string>
            <key>size</key>
            <string>{2046,1442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c0278e45cbe1a73228dc9380aedf623:b9c37d8fad8b1b31476b5a74612b619e:7406bc2d353991e447028e6c624b5dfa$</string>
            <key>textureFileName</key>
            <string>swim032.png</string>
        </dict>
    </dict>
</plist>
