<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-14}</string>
                <key>spriteSize</key>
                <string>{672,214}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1625,403},{672,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-14}</string>
                <key>spriteSize</key>
                <string>{676,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{721,1021},{676,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{692,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1423,1077},{692,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{714,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,607},{714,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{696,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,813},{696,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{692,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{717,607},{692,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,13}</string>
                <key>spriteSize</key>
                <string>{678,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{678,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,17}</string>
                <key>spriteSize</key>
                <string>{674,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,201},{674,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,20}</string>
                <key>spriteSize</key>
                <string>{672,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{681,1},{672,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,23}</string>
                <key>spriteSize</key>
                <string>{670,198}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1355,1},{670,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,21}</string>
                <key>spriteSize</key>
                <string>{672,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{677,201},{672,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,17}</string>
                <key>spriteSize</key>
                <string>{674,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1351,201},{674,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{692,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,403},{692,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{702,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{699,813},{702,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{706,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1841,403},{706,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{716,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{695,403},{716,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0254.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{718,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1021},{718,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{712,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1231},{712,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{706,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{715,1239},{706,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{692,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1645,1111},{692,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-13}</string>
                <key>spriteSize</key>
                <string>{684,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1449},{684,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{680,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{687,1457},{680,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-16}</string>
                <key>spriteSize</key>
                <string>{670,210}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1413,403},{670,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim022.png</string>
            <key>size</key>
            <string>{2048,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daf34e7367fea091b5b9f686a5035c02:c9025a2020f4c593843bbe1c19d2b700:9d8c045debf2ba7426825fda55e09579$</string>
            <key>textureFileName</key>
            <string>swim022.png</string>
        </dict>
    </dict>
</plist>
