<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>swim0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-14}</string>
                <key>spriteSize</key>
                <string>{676,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{695,1487},{676,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-13}</string>
                <key>spriteSize</key>
                <string>{682,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{711,625},{682,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{686,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1703},{686,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{692,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1259},{692,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{716,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,1},{716,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{708,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,617},{708,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{700,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{723,209},{700,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{686,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{711,845},{686,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,20}</string>
                <key>spriteSize</key>
                <string>{674,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1653,1},{674,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,24}</string>
                <key>spriteSize</key>
                <string>{670,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1373,1697},{670,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,22}</string>
                <key>spriteSize</key>
                <string>{672,200}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1811,677},{672,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,20}</string>
                <key>spriteSize</key>
                <string>{674,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1399,677},{674,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,18}</string>
                <key>spriteSize</key>
                <string>{676,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1605,677},{676,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,14}</string>
                <key>spriteSize</key>
                <string>{680,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{689,1705},{680,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{700,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{719,417},{700,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{708,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,827},{708,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{716,206}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,409},{716,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{720,202}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,205},{720,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{696,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1037},{696,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-12}</string>
                <key>spriteSize</key>
                <string>{692,220}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1,1481},{692,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0163.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-13}</string>
                <key>spriteSize</key>
                <string>{682,218}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{699,1049},{682,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{680,216}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{695,1269},{680,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swim0166.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-17}</string>
                <key>spriteSize</key>
                <string>{674,210}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1441,1},{674,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swim0167.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-18}</string>
                <key>spriteSize</key>
                <string>{670,208}</string>
                <key>spriteSourceSize</key>
                <string>{720,244}</string>
                <key>textureRect</key>
                <string>{{1373,1487},{670,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>swim011.png</string>
            <key>size</key>
            <string>{2044,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e58fbb790591cefe7c3f5e25080ed0:f40723cae1d31533b8aac7eeba8c8afc:314ed658b345c87b4ac6fcb8557c596c$</string>
            <key>textureFileName</key>
            <string>swim011.png</string>
        </dict>
    </dict>
</plist>
