<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,-280}</string>
                <key>spriteSize</key>
                <string>{234,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1393,1409},{234,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-280}</string>
                <key>spriteSize</key>
                <string>{238,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{675,1205},{238,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,-280}</string>
                <key>spriteSize</key>
                <string>{262,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1217,1145},{262,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-280}</string>
                <key>spriteSize</key>
                <string>{288,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1103,1445},{288,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-280}</string>
                <key>spriteSize</key>
                <string>{334,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{767,1445},{334,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-280}</string>
                <key>spriteSize</key>
                <string>{348,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1661},{348,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-280}</string>
                <key>spriteSize</key>
                <string>{362,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1387,781},{362,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-280}</string>
                <key>spriteSize</key>
                <string>{378,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1387,401},{378,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-280}</string>
                <key>spriteSize</key>
                <string>{398,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1387,1},{398,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-276}</string>
                <key>spriteSize</key>
                <string>{400,548}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{985,567},{400,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-268}</string>
                <key>spriteSize</key>
                <string>{400,564}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{985,1},{400,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-255}</string>
                <key>spriteSize</key>
                <string>{400,590}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{583,1},{400,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-142}</string>
                <key>spriteSize</key>
                <string>{356,816}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,816}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-130}</string>
                <key>spriteSize</key>
                <string>{224,840}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,819},{224,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-146}</string>
                <key>spriteSize</key>
                <string>{222,808}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{359,1},{222,808}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-221}</string>
                <key>spriteSize</key>
                <string>{222,658}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{227,819},{222,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-233}</string>
                <key>spriteSize</key>
                <string>{222,634}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{451,811},{222,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-245}</string>
                <key>spriteSize</key>
                <string>{222,610}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{675,593},{222,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-257}</string>
                <key>spriteSize</key>
                <string>{222,586}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{543,1447},{222,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-278}</string>
                <key>spriteSize</key>
                <string>{228,544}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1629,1409},{228,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack021.png</string>
            <key>size</key>
            <string>{1928,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b8ef3a6992c8c5d05714012f7c6e5e:c994037c96ebc215ce092bb628ae8bc2:d9777496e89841f05eb84e6787f2f13c$</string>
            <key>textureFileName</key>
            <string>tentacleAttack021.png</string>
        </dict>
    </dict>
</plist>
