<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-271}</string>
                <key>spriteSize</key>
                <string>{400,558}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{995,501},{400,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-248}</string>
                <key>spriteSize</key>
                <string>{400,604}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1635,1387},{400,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-242}</string>
                <key>spriteSize</key>
                <string>{400,616}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1397,985},{400,616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-130}</string>
                <key>spriteSize</key>
                <string>{374,840}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{253,1089},{374,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-70}</string>
                <key>spriteSize</key>
                <string>{258,960}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{881,1063},{258,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-7}</string>
                <key>spriteSize</key>
                <string>{246,1086}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,1086}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-7}</string>
                <key>spriteSize</key>
                <string>{246,1086}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{249,1},{246,1086}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-13}</string>
                <key>spriteSize</key>
                <string>{246,1074}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-20}</string>
                <key>spriteSize</key>
                <string>{248,1060}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{745,1},{248,1060}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-29}</string>
                <key>spriteSize</key>
                <string>{248,1042}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{995,1},{248,1042}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-40}</string>
                <key>spriteSize</key>
                <string>{248,1020}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{995,251},{248,1020}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-68}</string>
                <key>spriteSize</key>
                <string>{248,964}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1141,1061},{248,964}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-80}</string>
                <key>spriteSize</key>
                <string>{250,940}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{629,1077},{250,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-98}</string>
                <key>spriteSize</key>
                <string>{250,904}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1089},{250,904}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-226}</string>
                <key>spriteSize</key>
                <string>{240,648}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1397,501},{240,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-235}</string>
                <key>spriteSize</key>
                <string>{240,630}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1397,743},{240,630}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-247}</string>
                <key>spriteSize</key>
                <string>{242,606}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1391,1387},{242,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack010.png</string>
            <key>size</key>
            <string>{2046,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7b80c0fc92bf3c87313599145e67da:fbd57387adad53c07dbda90da9f23a39:61d2aa2b606acc30a78789109fbaf72c$</string>
            <key>textureFileName</key>
            <string>tentacleAttack010.png</string>
        </dict>
    </dict>
</plist>
