<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,-280}</string>
                <key>spriteSize</key>
                <string>{236,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1137,577},{236,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-280}</string>
                <key>spriteSize</key>
                <string>{240,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{685,1357},{240,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-280}</string>
                <key>spriteSize</key>
                <string>{264,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1699,591},{264,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-280}</string>
                <key>spriteSize</key>
                <string>{292,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1665},{292,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-280}</string>
                <key>spriteSize</key>
                <string>{338,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{543,1599},{338,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-280}</string>
                <key>spriteSize</key>
                <string>{352,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1595,1431},{352,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-280}</string>
                <key>spriteSize</key>
                <string>{366,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1227,1431},{366,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-280}</string>
                <key>spriteSize</key>
                <string>{382,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1087,815},{382,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-280}</string>
                <key>spriteSize</key>
                <string>{400,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{685,815},{400,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-275}</string>
                <key>spriteSize</key>
                <string>{400,550}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1393,1},{400,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-263}</string>
                <key>spriteSize</key>
                <string>{400,574}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{991,1},{400,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-260}</string>
                <key>spriteSize</key>
                <string>{400,580}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{589,1},{400,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-141}</string>
                <key>spriteSize</key>
                <string>{358,818}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,818}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-129}</string>
                <key>spriteSize</key>
                <string>{226,842}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,821},{226,842}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-144}</string>
                <key>spriteSize</key>
                <string>{226,812}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{361,1},{226,812}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-206}</string>
                <key>spriteSize</key>
                <string>{226,688}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{229,821},{226,688}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-232}</string>
                <key>spriteSize</key>
                <string>{226,636}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{457,815},{226,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-243}</string>
                <key>spriteSize</key>
                <string>{226,614}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1471,815},{226,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-256}</string>
                <key>spriteSize</key>
                <string>{224,588}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1795,1},{224,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,-277}</string>
                <key>spriteSize</key>
                <string>{230,546}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{589,583},{230,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack031.png</string>
            <key>size</key>
            <string>{2020,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d3694cfcab36fa8971312e0ad07b5e:caf42ac9adff8f3de8cd674bec53aca0:d188a7d5d29d0c7e631a83f2b4a6e13e$</string>
            <key>textureFileName</key>
            <string>tentacleAttack031.png</string>
        </dict>
    </dict>
</plist>
