<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-280}</string>
                <key>spriteSize</key>
                <string>{252,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{309,1},{252,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-283}</string>
                <key>spriteSize</key>
                <string>{252,534}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{309,255},{252,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-280}</string>
                <key>spriteSize</key>
                <string>{306,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-285}</string>
                <key>spriteSize</key>
                <string>{314,530}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{563,255},{314,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack012.png</string>
            <key>size</key>
            <string>{878,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7b80c0fc92bf3c87313599145e67da:fbd57387adad53c07dbda90da9f23a39:61d2aa2b606acc30a78789109fbaf72c$</string>
            <key>textureFileName</key>
            <string>tentacleAttack012.png</string>
        </dict>
    </dict>
</plist>
