<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-297}</string>
                <key>spriteSize</key>
                <string>{232,506}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1535,225},{232,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-300}</string>
                <key>spriteSize</key>
                <string>{268,500}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1535,459},{268,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-264}</string>
                <key>spriteSize</key>
                <string>{400,572}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1361,1471},{400,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-78}</string>
                <key>spriteSize</key>
                <string>{242,944}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1089},{242,944}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-7}</string>
                <key>spriteSize</key>
                <string>{216,1086}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,1086}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-8}</string>
                <key>spriteSize</key>
                <string>{216,1084}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{219,1},{216,1084}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-13}</string>
                <key>spriteSize</key>
                <string>{216,1074}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{437,1},{216,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-20}</string>
                <key>spriteSize</key>
                <string>{216,1060}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{655,1},{216,1060}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-29}</string>
                <key>spriteSize</key>
                <string>{216,1042}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{873,1},{216,1042}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,-40}</string>
                <key>spriteSize</key>
                <string>{218,1020}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1091,1},{218,1020}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-55}</string>
                <key>spriteSize</key>
                <string>{220,990}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{917,1045},{220,990}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-69}</string>
                <key>spriteSize</key>
                <string>{220,962}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{469,1077},{220,962}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-84}</string>
                <key>spriteSize</key>
                <string>{222,932}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{245,1087},{222,932}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-102}</string>
                <key>spriteSize</key>
                <string>{224,896}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{691,1063},{224,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-115}</string>
                <key>spriteSize</key>
                <string>{224,870}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1139,1023},{224,870}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-162}</string>
                <key>spriteSize</key>
                <string>{222,776}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1311,225},{222,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-178}</string>
                <key>spriteSize</key>
                <string>{220,744}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1139,1249},{220,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-192}</string>
                <key>spriteSize</key>
                <string>{222,716}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1311,1},{222,716}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-207}</string>
                <key>spriteSize</key>
                <string>{220,686}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1361,1249},{220,686}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-267}</string>
                <key>spriteSize</key>
                <string>{224,566}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1763,1471},{224,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack020.png</string>
            <key>size</key>
            <string>{2048,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b8ef3a6992c8c5d05714012f7c6e5e:c994037c96ebc215ce092bb628ae8bc2:d9777496e89841f05eb84e6787f2f13c$</string>
            <key>textureFileName</key>
            <string>tentacleAttack020.png</string>
        </dict>
    </dict>
</plist>
