<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleAttack0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-280}</string>
                <key>spriteSize</key>
                <string>{256,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1779,677},{256,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-280}</string>
                <key>spriteSize</key>
                <string>{278,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{251,1701},{278,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-280}</string>
                <key>spriteSize</key>
                <string>{356,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{793,1617},{356,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-280}</string>
                <key>spriteSize</key>
                <string>{372,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{993,593},{372,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-280}</string>
                <key>spriteSize</key>
                <string>{388,540}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1555,1219},{388,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-277}</string>
                <key>spriteSize</key>
                <string>{400,546}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{987,967},{400,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleAttack0112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-264}</string>
                <key>spriteSize</key>
                <string>{400,572}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1395,1},{400,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-255}</string>
                <key>spriteSize</key>
                <string>{400,590}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{993,1},{400,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-53}</string>
                <key>spriteSize</key>
                <string>{248,994}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,994}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-111}</string>
                <key>spriteSize</key>
                <string>{250,878}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{251,1},{250,878}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-126}</string>
                <key>spriteSize</key>
                <string>{248,848}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1,997},{248,848}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-141}</string>
                <key>spriteSize</key>
                <string>{246,818}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{251,881},{246,818}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-156}</string>
                <key>spriteSize</key>
                <string>{244,788}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{503,1},{244,788}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-172}</string>
                <key>spriteSize</key>
                <string>{242,756}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{749,1},{242,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-185}</string>
                <key>spriteSize</key>
                <string>{242,730}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{499,881},{242,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-200}</string>
                <key>spriteSize</key>
                <string>{242,700}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{743,791},{242,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-213}</string>
                <key>spriteSize</key>
                <string>{240,674}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1797,1},{240,674}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,-256}</string>
                <key>spriteSize</key>
                <string>{242,588}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{1535,575},{242,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleAttack0140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,-267}</string>
                <key>spriteSize</key>
                <string>{246,566}</string>
                <key>spriteSourceSize</key>
                <string>{400,1100}</string>
                <key>textureRect</key>
                <string>{{987,1369},{246,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleAttack011.png</string>
            <key>size</key>
            <string>{2038,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7b80c0fc92bf3c87313599145e67da:fbd57387adad53c07dbda90da9f23a39:61d2aa2b606acc30a78789109fbaf72c$</string>
            <key>textureFileName</key>
            <string>tentacleAttack011.png</string>
        </dict>
    </dict>
</plist>
