<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleRetreat0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{403,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{805,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{403,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1543},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{805,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1207,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{805,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1543},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1207,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1609,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1207,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1543},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1609,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1609,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleRetreat010.png</string>
            <key>size</key>
            <string>{2010,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b8a1f6ab533f7bbbcff303f0641f8e:d446832ee0897bd5858b775d14d79297:74aec1e00466f582277ad43a4589a6a4$</string>
            <key>textureFileName</key>
            <string>tentacleRetreat010.png</string>
        </dict>
    </dict>
</plist>
