<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleRetreat0119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleRetreat011.png</string>
            <key>size</key>
            <string>{1944,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b8a1f6ab533f7bbbcff303f0641f8e:d446832ee0897bd5858b775d14d79297:74aec1e00466f582277ad43a4589a6a4$</string>
            <key>textureFileName</key>
            <string>tentacleRetreat011.png</string>
        </dict>
    </dict>
</plist>
