<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleRetreat0319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,805},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleRetreat0331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleRetreat0333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1207},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleRetreat031.png</string>
            <key>size</key>
            <string>{1944,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187f5d6a2618b22a23f993f5a84e6edc:774a0d9f3fef44dece07c50185faa3ae:66a3886998570d01b7c65b4fbcfd63fc$</string>
            <key>textureFileName</key>
            <string>tentacleRetreat031.png</string>
        </dict>
    </dict>
</plist>
