<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headBite0350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headBite03_8.png</string>
            <key>size</key>
            <string>{402,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20874117a01a6470482fb2e038512e2:d5096f093db107b4694e50a7b6e27727:2b5d7a36b4b838d4cff2fa49f3140341$</string>
            <key>textureFileName</key>
            <string>headBite03_8.png</string>
        </dict>
    </dict>
</plist>
