<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headBite0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBite0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1027},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{403,403},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1027,805},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBite0206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1429},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1429,1},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headBite02_1.png</string>
            <key>size</key>
            <string>{1830,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcede6b225f8c9ca402d2622f47c267b:8ebc6d62fe4d205dbe6b9189f476ef98:2cfe8c20f67b77f870a1b2639b177b7d$</string>
            <key>textureFileName</key>
            <string>headBite02_1.png</string>
        </dict>
    </dict>
</plist>
