<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headBite0143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBite0144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1027},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{403,403},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1027,805},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headBite0148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1,1429},{400,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headBite0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,1024}</string>
                <key>spriteSourceSize</key>
                <string>{400,1024}</string>
                <key>textureRect</key>
                <string>{{1429,1},{400,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headBite01_7.png</string>
            <key>size</key>
            <string>{1830,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:930e3715b3d2b2c3f21bb017600db1da:a729c994edac81602502dc929e2ee8a8:e6da412bab28b4a5f39a8999c3df70ef$</string>
            <key>textureFileName</key>
            <string>headBite01_7.png</string>
        </dict>
    </dict>
</plist>
