<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleIdle0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{400,508}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,1431},{400,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleIdle0323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleIdle0328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,917},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleIdle0329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1319},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleIdle0330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,403},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,917},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,1431},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleIdle0337.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{917,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0338.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{917,515},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleIdle0339.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{917,1029},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleIdle031.png</string>
            <key>size</key>
            <string>{1430,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d56af5918cf6c4f59a7a2c0471b1d6c:d34056c31cf681a48cc5616d9cc459dd:9f187dedabb840d2c9f07383fd49d5ba$</string>
            <key>textureFileName</key>
            <string>tentacleIdle031.png</string>
        </dict>
    </dict>
</plist>
