<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{541,597}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{574,1209},{541,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{551,593}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{578,1},{551,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{541,593}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1117,1209},{541,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{571,593}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1217},{571,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{575,617}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1},{575,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,16}</string>
                <key>spriteSize</key>
                <string>{541,587}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1133,602},{541,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{541,599}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1131,1},{541,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{557,587}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{574,620},{557,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,12}</string>
                <key>spriteSize</key>
                <string>{571,595}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,620},{571,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fog1.png</string>
            <key>size</key>
            <string>{1675,1811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3642458146a3ff6d7e9832c3630731a6:edf31143b392b7c686eaff887aa5bc87:6fbab5578a125d76a2a26340b22a6dd4$</string>
            <key>textureFileName</key>
            <string>Fog1.png</string>
        </dict>
    </dict>
</plist>
