<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{565,567}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1145,1089},{565,567}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{575,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,542},{575,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{555,573}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1087},{555,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{543,571}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{578,542},{543,571}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{563,567}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{576,1087},{563,567}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{539,575}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1},{539,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{541,577}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1155,1},{541,577}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{543,569}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1151,544},{543,569}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{539,575}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{578,1},{539,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fog3.png</string>
            <key>size</key>
            <string>{1733,1655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3642458146a3ff6d7e9832c3630731a6:edf31143b392b7c686eaff887aa5bc87:6fbab5578a125d76a2a26340b22a6dd4$</string>
            <key>textureFileName</key>
            <string>Fog3.png</string>
        </dict>
    </dict>
</plist>
