<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{545,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{552,546},{545,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1115,1},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{545,545}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1109,1091},{545,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{543,557}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1},{543,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{543,545}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1091},{543,545}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{545,559}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{548,1091},{545,559}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{545,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1099,546},{545,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{543,553}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{560,1},{543,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{543,549}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,546},{543,549}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fog5.png</string>
            <key>size</key>
            <string>{1659,1637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3642458146a3ff6d7e9832c3630731a6:edf31143b392b7c686eaff887aa5bc87:6fbab5578a125d76a2a26340b22a6dd4$</string>
            <key>textureFileName</key>
            <string>Fog5.png</string>
        </dict>
    </dict>
</plist>
