<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{539,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1091,1091},{539,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,546},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1,1091},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{541,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1091,1},{541,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{546,1},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{546,546},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,541}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{1091,546},{543,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smoke9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{543,543}</string>
                <key>spriteSourceSize</key>
                <string>{601,619}</string>
                <key>textureRect</key>
                <string>{{546,1091},{543,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fog6.png</string>
            <key>size</key>
            <string>{1633,1635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3642458146a3ff6d7e9832c3630731a6:edf31143b392b7c686eaff887aa5bc87:6fbab5578a125d76a2a26340b22a6dd4$</string>
            <key>textureFileName</key>
            <string>Fog6.png</string>
        </dict>
    </dict>
</plist>
