<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tentacleDamaged0325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleDamaged0326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{403,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,403},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tentacleDamaged0332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1,917},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{515,917},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{917,1},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{917,403},{400,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tentacleDamaged0340.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,512}</string>
                <key>spriteSourceSize</key>
                <string>{400,512}</string>
                <key>textureRect</key>
                <string>{{1029,805},{400,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tentacleDamaged032.png</string>
            <key>size</key>
            <string>{1430,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be65ce69256109c9cd7e48e05d5bf1c:6aed8d8c9853a6bc4649024bad3d9761:7db3cb5f330fda903a458aa4bf5b24db$</string>
            <key>textureFileName</key>
            <string>tentacleDamaged032.png</string>
        </dict>
    </dict>
</plist>
