<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headSpray0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{253,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{253,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{505,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{505,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{505,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{757,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{757,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{757,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1009,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1009,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1009,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1261,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1261,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1261,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1513,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1513,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1513,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1765,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1765,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1765,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headSpray021.png</string>
            <key>size</key>
            <string>{2016,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77fb29c650ac47ea5f02a7ecee599ad4:9c27e088c3bc51e31f100d1cd5e69913:d9c45fb3f84cc3fc4f73dbd9cfd1bc0c$</string>
            <key>textureFileName</key>
            <string>headSpray021.png</string>
        </dict>
    </dict>
</plist>
