<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headSpray0150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headSpray010.png</string>
            <key>size</key>
            <string>{2046,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:541fd256e3478d34e0a720710efc2566:799311f539fc99324efe54229f157efd:12a19e8c123594b4799c3e6614682b37$</string>
            <key>textureFileName</key>
            <string>headSpray010.png</string>
        </dict>
    </dict>
</plist>
