<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>headSpray0250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,253},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,505},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,757},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,515},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1009},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1029,1261},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1543,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1795,1029},{250,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headSpray0248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{1,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headSpray0249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,512}</string>
                <key>spriteSourceSize</key>
                <string>{250,512}</string>
                <key>textureRect</key>
                <string>{{515,1513},{250,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>headSpray020.png</string>
            <key>size</key>
            <string>{2046,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77fb29c650ac47ea5f02a7ecee599ad4:9c27e088c3bc51e31f100d1cd5e69913:d9c45fb3f84cc3fc4f73dbd9cfd1bc0c$</string>
            <key>textureFileName</key>
            <string>headSpray020.png</string>
        </dict>
    </dict>
</plist>
